In [7]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
from SNPDataSet import get_snp_dfs
from utils import convert_mutation_df_to_vcf

muts = get_snp_dfs()
vcf = convert_mutation_df_to_vcf(muts)

0, 123477
10000, 123477
20000, 123477
30000, 123477
40000, 123477
50000, 123477
60000, 123477
70000, 123477
80000, 123477
90000, 123477
100000, 123477
110000, 123477
120000, 123477

In [3]:
vcf

,48055094,48055095,48055110,48055247,48055250,48055294,48055331,48055340,48055357,48055364,...,48084704,48084720,48084731,48084747,48084770,48084820,48084822,48084863,48084980,48084989
HG03055_0,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
HG03485_1,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
NA20505_1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
HG02256_1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
HG01305_0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NA12829_0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
NA18566_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
NA19235_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
HG03779_0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
HG03792_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
%load_ext autoreload
%autoreload 2

from SpanFinderNew import SpanFinder

sf = SpanFinder(vcf, False)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
XX = sf.find_all_spans(10, 2)

checking position 1 of 928
Done with length =38
checking position 2 of 928
Done with length =37
LIMIT EXCEED

In [10]:
with open('your_file.txt', 'w') as f:
    for item in XX:
        f.write("%s\n" % item)

In [2]:
%load_ext autoreload
%autoreload 2
from utils import read_timed_mosaics
timed_spans = read_timed_mosaics()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
Parsing file ./result/infer_time_from0_to47.txt

In [9]:
print(len(timed_spans))
print(len(positions))

3494
928

In [17]:
R[24]

[48055094, 48055602, 11, 2290.724299627334, 26]

In [82]:

from utils import read_full_timed_mosaics

spans = read_full_timed_mosaics(None)

from BlockSelector import BlockSelector

Parsing file ./result/infer_time_from329_to376.txt
Parsing file ./result/infer_time_from470_to517.txt
Parsing file ./result/infer_time_from188_to235.txt
Parsing file ./result/infer_time_from94_to141.txt
Parsing file ./result/infer_time_from799_to846.txt
Parsing file ./result/infer_time_from705_to752.txt
Parsing file ./result/infer_time_from658_to705.txt
Parsing file ./result/infer_time_from376_to423.txt
Parsing file ./result/infer_time_from517_to564.txt
Parsing file ./result/infer_time_from611_to658.txt
Parsing file ./result/infer_time_from893_to940.txt
Parsing file ./result/infer_time_from282_to329.txt
Parsing file ./result/infer_time_from564_to611.txt
Parsing file ./result/infer_time_from423_to470.txt
Parsing file ./result/infer_time_from235_to282.txt
Parsing file ./result/infer_time_from752_to799.txt
Parsing file ./result/infer_time_from47_to94.txt
Parsing file ./result/infer_time_from846_to893.txt
Parsing file ./result/infer_time_from141_to188.txt
Parsing file ./result/infer_time_from0_to47.txt

In [107]:
%load_ext autoreload
%autoreload 2
# m=0.02
for m in range(1, 10, 1):
    m= m*10
    print(f'checking M= {m}')
    bs = BlockSelector(spans, 2504*2)
    bs.find_best_match(m)

    result = bs.get_best_match_haplos()
    stats = bs.get_statistics()
    print(stats)
    with open(f'./result/hotspots_{m}.txt', 'w') as f:
        f.write("%s\n" % result)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
checking M= 10
recomb = 0, removal=698, haplos = 14
(698, 14)
checking M= 20
recomb = 0, removal=698, haplos = 14
(698, 14)
checking M= 30
recomb = 0, removal=637, haplos = 14
(637, 14)
checking M= 40
recomb = 0, removal=603, haplos = 14
(603, 14)
checking M= 50
recomb = 0, removal=603, haplos = 14
(603, 14)
checking M= 60
recomb = 0, removal=602, haplos = 14
(602, 14)
checking M= 70
recomb = 0, removal=602, haplos = 14
(602, 14)
checking M= 80
recomb = 0, removal=601, haplos = 14
(601, 14)
checking M= 90
recomb = 0, removal=555, haplos = 15
(555, 15)

In [28]:
spans[0]

[48055094, 48055095, 0, 30337.23280080877, 2]

In [39]:
math.exp(10)

22026.465794806718

In [50]:
K=5
Rho=0.1
T_est=1800.9559428139312
y = (1/2)*K*Rho*T_est
print(y)
z = math.exp(y)
print(z)

450.2389857034828
3.438009154317136e+195

1.4893842007818383e+78

In [57]:
times = list(zip(*spans))[3]
max(times)

34990.41167414978

In [58]:
 min(times)

689.2433648934496

In [59]:
import statistics

In [62]:
x = statistics.mean(times)
x

1816.2895669186846

In [63]:
statistics.median(times)

1111.2680353945343

In [64]:
print(sum(times)/len(times))

1816.289566918686

In [70]:
from BlockSelector import find_haplo_score

find_haplo_score(spans[10], 0.002)

H_SCORE [K=12, Rho=0.002, T_est=2228.4561149218216, L=281, Removal = 3] = 410841519214.29175

410841519214.29175

In [66]:
spans[10]

[48055094, 48055374, 3, 2228.4561149218216, 12]

In [84]:
from BlockSelector import find_haplo_score

In [105]:
find_haplo_score(spans[20], 0.1)

0.31616704009689756

In [104]:
find_haplo_score(spans[120], 0.1)

1.3674338342279372e-07

In [92]:
spans[120]

[48065983, 48069615, 26, 2591.0098002117566, 122]

In [106]:
spans[20]

[48065983, 48066677, 1, 1046.8041792341735, 22]

In [93]:
spans[20][1]-spans[20][0]

694

In [94]:
spans[120][1]-spans[120][0]

3632

In [1]:
muts

NameError: name 'muts' is not defined