In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from SNPDataSet import get_snp_dfs
from utils import convert_mutation_df_to_vcf

muts = get_snp_dfs()
vcf = convert_mutation_df_to_vcf(muts)

0, 123477
10000, 123477
20000, 123477
30000, 123477
40000, 123477
50000, 123477
60000, 123477
70000, 123477
80000, 123477
90000, 123477
100000, 123477
110000, 123477
120000, 123477

In [3]:
vcf

,48055094,48055095,48055110,48055247,48055250,48055294,48055331,48055340,48055357,48055364,...,48084704,48084720,48084731,48084747,48084770,48084820,48084822,48084863,48084980,48084989
HG03055_0,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
HG03485_1,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
NA20505_1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
HG02256_1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
HG01305_0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NA12829_0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
NA18566_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
NA19235_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
HG03779_0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
HG03792_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
%load_ext autoreload
%autoreload 2

from SpanFinderNew import SpanFinder

sf = SpanFinder(vcf, False)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
XX = sf.find_all_spans(10, 2)

checking position 1 of 928
Done with length =38
checking position 2 of 928
Done with length =37
LIMIT EXCEED

In [10]:
with open('your_file.txt', 'w') as f:
    for item in XX:
        f.write("%s\n" % item)